.cart-item {
    display: flex;
    gap: 1rem;
}

.cart-item img{
    min-width: 150px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.cart-item .details div {
    display: flex ;
    gap: 1rem;
    align-items: center;
}

.cart-item .remove-btn {
    background-color: red;
    align-self: start;
    color: white;
    padding: .5rem 1rem
}